@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);
 

 
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #475B62;	

}
strong {
  font-weight: 600;
}

path {
	stroke: white;
	stroke-width :0.25px;
	fill: gray;	
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
